<div class="container">
    <mat-divider></mat-divider>
    <h3>Quels sont vos genres préférés ?</h3>

    <section class="example-section">
        <span class="example-list-section">
            <mat-checkbox class="example-margin" 
                [checked]="allSelect"
                [indeterminate]="someSelect()"
                (change)="setAll($event.checked)">
                Tous les genres
            </mat-checkbox>
        </span>
        
        <span class="example-list-section">
            <ul>
                <li *ngFor="let g of genres">
                    <mat-checkbox [(ngModel)]="g.selected"
                        (ngModelChange)="updateAllSelect()">
                    {{g.genre.name}}
                    </mat-checkbox>
                </li>
            </ul>
        </span>

        <button mat-fab extended color="primary" (click)="enregistrerPreferences()">
            <mat-icon>save</mat-icon>
            <span>Enregistrer</span>
        </button>

        <mat-divider></mat-divider>
    </section>
</div>

